i.close {
    position: absolute;
    color: red;
    right: 0;
    top: 0;
    padding-right: 5px;
}

.auth-logo img {
    width: 150px;
    height: 150px;
}

.auth-layout-wrap .auth-content form#loginForm {
    padding-bottom: 30px;
}

.auth-layout-wrap .auth-content form#loginForm button#add_btn {
    margin-top: 20px !important;
}

.layout-sidebar-large .main-header .logo img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width:479px) {
    .auth-logo img {
        width: 150px;
    }
}
